---
Checks: '*,
       -fuchsia-*,
       -google-*,
       -android-*,
       -zircon-*,
       -abseil-*,
       -modernize-*,
       -boost-*,
       -llvm-*,-llvmlibc-*,
       -cppcoreguidelines-*,
       cppcoreguidelines-init-variables,
       cppcoreguidelines-misleading-capture-default-by-value,
       -bugprone-reserved-identifier,
       -bugprone-implicit-widening-of-multiplication-result,
       -altera-unroll-loops,
       -altera-struct-pack-align,
       -bugprone-narrowing-conversions,
       -bugprone-easily-swappable-parameters,
       -misc-const-correctness,
       -misc-use-anonymous-namespace,
       -misc-unused-parameters,
       -misc-non-private-member-variables-in-classes,
       -readability-braces-around-statements,
       -readability-avoid-const-params-in-decls,
       -readability-identifier-length,
       -readability-avoid-unconditional-preprocessor-if,
       -readability-magic-numbers,
       -readability-math-missing-parentheses,
       -readability-isolate-declaration,
       -cert-err33-c,
       -cert-err58-cpp,
       -cert-msc30-c,
       -cert-msc50-cpp,
       -cert-msc51-cpp,
       -cert-dcl50-cpp,
       -hicpp-*'
CheckOptions: [{ key: misc-non-private-member-variables-in-classes, value: IgnoreClassesWithAllMemberVariablesBeingPublic }]
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|include|test)/'
FormatStyle: none
UseColor: true