---
Checks: '*,-fuchsia-*,
           -google-*,
           -android-*,
           -zircon-*,
           -abseil-*,
           -modernize-*,
           -boost-*,
           -llvm-*,-llvmlibc-*,
           -cppcoreguidelines-*,
           -readability-identifier-length,
           -bugprone-reserved-identifier,
           -altera-unroll-loops,
           -bugprone-narrowing-conversions,
           -bugprone-easily-swappable-parameters,
           -misc-const-correctness,
           -misc-use-anonymous-namespace,
           -misc-unused-parameters,
           -misc-non-private-member-variables-in-classes,
           -readability-*,
           readability-redundant-member-init,
           readability-non-const-parameter,
           readability-misleading-indentation,
           -cert-err33-c,
           -readability-avoid-unconditional-preprocessor-if,
           -bugprone-implicit-widening-of-multiplication-result,
           -hicpp-*'
CheckOptions: [{ key: misc-non-private-member-variables-in-classes, value: IgnoreClassesWithAllMemberVariablesBeingPublic }]
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|include|test)/'
FormatStyle: none
UseColor: true